In [1]:
#This is a comment
#written in
#more than just one line
print("This is single line comment !")

Hello, World!

In [2]:
"""
This is a comment
written in
more than just one line
"""
print("This is multi line comment!")

Hello, World!

In [4]:
a= int(5)
b= str(5)
c=float(5)

In [6]:
a

5

In [7]:
b

'5'

In [8]:
c

5.0

In [9]:
type(a)

int

In [10]:
type(b)

str

In [11]:
type(c)

float

In [12]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [13]:
x, y, z = "Orange", "Orange", "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [15]:
print(y)

Orange

In [14]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
print(z)

Orange

# Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking

In [80]:
technologies = ["python", "sql", "mongodb"]
x, y, z = technologies
print(x)
print(y)
print(z)

python
sql
mongodb

In [81]:
technologies =("python", "sql", "mongodb")
x, y, z = technologies
print(x)
print(y)
print(z)

python
sql
mongodb

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

# Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
Create a variable outside of a function, and use it inside the function

In [20]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

# Create a variable inside a function, with the same name as the global variable

In [21]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [22]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
Also, use the global keyword if you want to change a global variable inside a function.

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

Getting the Data Type
You can get the data type of any object by using the type() function:

In [23]:
x = 5
print(type(x))

<class 'int'>

# Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

In [26]:
a = "Hello World"#	str	
b = 20#	int	
c = 20.5#	float	
d = 1j#	complex	
e = ["apple", "banana", "cherry"]#	list	
f = ("apple", "banana", "cherry")#	tuple	
g = range(6)#	range	
h = {"name" : "John", "age" : 36}#	dict	
i = {"apple", "banana", "cherry"}#	set	
j = frozenset({"apple", "banana", "cherry"})#	frozenset	
k = True#	bool	
l = b"Hello"#	bytes	
m = bytearray(5)#	bytearray	
n = memoryview(bytes(5))#	memoryview

In [27]:
a

'Hello World'

In [28]:
b

20

In [29]:
c

20.5

In [30]:
d

1j

In [31]:
e

['apple', 'banana', 'cherry']

In [32]:
f

('apple', 'banana', 'cherry')

In [33]:
g

range(0, 6)

In [34]:
h

{'name': 'John', 'age': 36}

In [35]:
i

{'apple', 'banana', 'cherry'}

In [36]:
j

frozenset({'apple', 'banana', 'cherry'})

In [37]:
k

True

In [38]:
l

b'Hello'

In [39]:
m

bytearray(b'\x00\x00\x00\x00\x00')

In [40]:
n

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [46]:
A = str("Hello World")#	str	
B = int(20)#	int	
C = float(20.5)#	float	
D = complex(1j)#	complex	
E = list(("apple", "banana", "cherry"))#	list	
F = tuple(("apple", "banana", "cherry"))#	tuple	
G = range(6)#	range	
H = dict(name="John", age=36)#	dict	
I = set(("apple", "banana", "cherry"))#	set	
J = frozenset(("apple", "banana", "cherry"))#	frozenset	
K= bool(5)#	bool	
L= bytes(5)#	bytes	
M= bytearray(5)#	bytearray	
N= memoryview(bytes(5))#	memoryview

In [47]:
A

'Hello World'

In [48]:
B

20

In [49]:
C

20.5

In [50]:
D

1j

In [51]:
E

['apple', 'banana', 'cherry']

In [52]:
F

('apple', 'banana', 'cherry')

In [53]:
G

range(0, 6)

In [54]:
H

{'name': 'John', 'age': 36}

In [55]:
I

{'apple', 'banana', 'cherry'}

In [56]:
J

frozenset({'apple', 'banana', 'cherry'})

In [57]:
K

True

In [58]:
L

b'\x00\x00\x00\x00\x00'

In [59]:
M

bytearray(b'\x00\x00\x00\x00\x00')

In [60]:
N

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
Import the random module, and display a random number between 1 and 9:

In [64]:
import random

print(random.randrange(1, 20))

7

# Python - Format - Strings

# String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [65]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Use the format() method to insert numbers into strings:

In [67]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [68]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [69]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [ ]:
The escape character allows you to use double quotes when you normally would not be allowed:

In [71]:
txt = "We are the so-called \"Vikings\" from the north."

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [72]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [73]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [74]:
txt = "Hello\rWorld!"
print(txt)

World!

In [76]:
name = "khaula\rfarooqui!"
print(name)

farooqui!

In [78]:
 name = "khaula\nfarooqui!"
print(name)

khaula
farooqui!

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [8]:
def add(a,b):
    a=float(input("Enter a number"))
    b=float(input("Enter a number"))
    c=a+b
    print(c)

In [9]:
add(2,3)

Enter a number3
Enter a number5
8.0