# Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [ ]:
''' Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y'''

# Python Assignment Operators
Assignment operators are used to assign values to variables:
    Operator	Example	Same As	Try it
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

# Python Comparison Operators
Comparison operators are used to compare two values:
Operator	Name	Example	Try it
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	    x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

# Python Logical Operators
Logical operators are used to combine conditional statements:
    Operator	Description	Example	Try it
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
Operator	Description	Example	Try it
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:
Operator	Description	Example	Try it
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

# Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python Lists

List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [2]:
mylist = ["apple", "banana", "cherry"]

In [1]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [1]:
#Lists allow duplicate values:

thislist = ["python", "sql", "mongodb", "tableau", "excel"]
print(thislist)

['python', 'sql', 'mongodb', 'tableau', 'excel']

List Length
To determine how many items a list has, use the len() function:

In [2]:
#print the number of items in the list:

thislist = ["python", "sql", "mongodb"]
print(len(thislist))

3

List Items - Data Types
List items can be of any data type:

In [3]:
#String, int and boolean data types:

list1 = ["python", "sql", "mongodb"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [4]:
#A list can contain different data types:

Example
A list with strings, integers and boolean values:

In [6]:
list1 = ["python", 45, False, 50.7, "female"]

In [7]:
list1

['python', 45, False, 50.7, 'female']

# type()
#From Python's perspective, lists are defined as objects with the data type 'list':

In [8]:
#What is the data type of a list?

mylist = ["python", "sql", "mongodb"]
print(type(mylist))

<class 'list'>

# The list() Constructor
It is also possible to use the list() constructor when creating a new list.

# Using the list() constructor to make a List:

In [9]:
thislist = list(("python", "sql", "mongodb")) # note the double round-brackets
print(thislist)

['python', 'sql', 'mongodb']

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# Python - Access List Items

Access Items
List items are indexed and you can access them by referring to the index number:

In [10]:
#Print the second item of the list:

thislist = ["python", "sql", "mongodb"]
print(thislist[1])

sql

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [11]:
#Print the last item of the list:

thislist = ["python", "sql", "mongodb"]
print(thislist[-1])

mongodb

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [13]:
#Return the third, fourth, and fifth item:

thislist = ["python", "sql", "mongodb","excel","tableau","powerbi","R","sas"]
print(thislist[2:5])

['mongodb', 'excel', 'tableau']

In [15]:

thislist =  ["python", "sql", "mongodb","excel","tableau","powerbi","R","sas"]
print(thislist[:4])

['python', 'sql', 'mongodb', 'excel']

In [16]:
#This example returns the items from "cherry" to the end:

thislist =  ["python", "sql", "mongodb","excel","tableau","powerbi","R","sas"]
print(thislist[2:])

['mongodb', 'excel', 'tableau', 'powerbi', 'R', 'sas']

Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [19]:

thislist =  ["python", "sql", "mongodb","excel","tableau","powerbi","R","sas"]
print(thislist[-4:-1])

['tableau', 'powerbi', 'R']

Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [20]:
#Check if "sql" is present in the list:

thislist = ["python", "sql", "mongodb"]
if "sql" in thislist:
  print("Yes, 'sql' is in the list")

Yes, 'sql' is in the list

# Change Item Value
To change the value of a specific item, refer to the index number:

In [21]:
#Change the second item:

thislist = ["python", "sql", "mongodb"]
thislist[1] = "Angular"
print(thislist)

['python', 'Angular', 'mongodb']

Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [22]:

thislist = ["python", "sql", "mongodb","excel","tableau","powerbi","R","sas"]
thislist[1:3] = ["angular", "ruby"]
print(thislist)

['python', 'angular', 'ruby', 'excel', 'tableau', 'powerbi', 'R', 'sas']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [23]:
#Change the second value by replacing it with two new values:

thislist = ["python", "sql", "mongodb"]
thislist[1:2] = ["angular", "ruby"]
print(thislist)

['python', 'angular', 'ruby', 'mongodb']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Change the second and third value by replacing it with one value:

In [24]:
thislist = ["python", "sql", "mongodb"]
thislist[1:3] = ["angular"]
print(thislist)

['python', 'angular']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

Example

In [25]:
#Insert "angular" as the third item:

thislist = ["python", "sql", "mongodb"]
thislist.insert(2, "angular")
print(thislist)

['python', 'sql', 'angular', 'mongodb']

# Python - Add List Items

# Append Items
To add an item to the end of the list, use the append() method:

Example
Using the append() method to append an item:

In [26]:
thislist = ["python", "sql", "mongodb"]
thislist.append("ruby")
print(thislist)

['python', 'sql', 'mongodb', 'ruby']

# Insert Items
To insert a list item at a specified index, use the insert() method.
The insert() method inserts an item at the specified index:

In [27]:
#Insert an item as the second position:

thislist = ["python", "sql", "mongodb"]
thislist.insert(1, "pearl")
print(thislist)

['python', 'pearl', 'sql', 'mongodb']

# Extend List
To append elements from another list to the current list, use the extend() method.

Example
Add the elements of tropical to thislist:

In [28]:
#The elements will be added to the end of the list.
thislist = ["python", "sql", "mongodb"]
technology = ["excel","tableau","powerbi","R","sas"]
thislist.extend(technology)
print(thislist)

['python', 'sql', 'mongodb', 'excel', 'tableau', 'powerbi', 'R', 'sas']

# Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

# Add elements of a tuple to a list:

In [29]:

thislist = ["python", "sql", "mongodb"]
thistuple = ("excel","tableau","powerbi","R","sas")
thislist.extend(thistuple)
print(thislist)

['python', 'sql', 'mongodb', 'excel', 'tableau', 'powerbi', 'R', 'sas']

# Python - Remove List Items

# Remove Specified Item
The remove() method removes the specified item.

In [30]:

thislist = ["python", "sql", "mongodb"]
thislist.remove("sql")
print(thislist)

['python', 'mongodb']

# Remove Specified Index
The pop() method removes the specified index.

# Remove the second item:

In [31]:
thislist = ["python", "sql", "mongodb"]
thislist.pop(1)
print(thislist)
#If you do not specify the index, the pop() method removes the last item.

['python', 'mongodb']

# Remove the last item:

In [32]:
thislist =  ["python", "sql", "mongodb"]
thislist.pop()
print(thislist)

['python', 'sql']

The del keyword also removes the specified index:

# Remove the first item:

In [33]:
thislist =  ["python", "sql", "mongodb"]
del thislist[0]
print(thislist)

['sql', 'mongodb']

The del keyword can also delete the list completely.

In [34]:
#Delete the entire list:

thislist =  ["python", "sql", "mongodb"]
del thislist

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

# Clear the list content:

In [36]:
thislist =  ["python", "sql", "mongodb"]
thislist.clear()
print(thislist)

[]

# Python - Loop Lists

Loop Through a List
You can loop through the list items by using a for loop:

In [41]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [42]:
#Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [43]:
#Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

A short hand for loop that will print all items in a list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

# Python - List Comprehension

# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [44]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [46]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

The Syntax
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

In [47]:
#Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]

In [49]:
#With no if statement:

newlist = [x for x in fruits]

In [50]:
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

Example
You can use the range() function to create an iterable:

In [51]:
newlist = [x for x in range(10)]

In [52]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]

In [54]:
newlist

[0, 1, 2, 3, 4]

Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [55]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]

In [56]:
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [57]:
#Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]

In [58]:
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [59]:
#Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits]

In [60]:
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

# Python - Sort Lists

# Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [61]:
#Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Python - Copy Lists

Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [62]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Another way to make a copy is to use the built-in method list().

In [63]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Python - Join Lists

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [64]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
Another way to join two lists is by appending all the items from list2 into list1, one by one: